<?xml version="1.0"  encoding="UTF-8"?>
<configuration scan="false">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>\(%d{HH:mm:ss.sss}\) [%thread] %-5p %m \(%C.java:%L\) %n</pattern>
		</encoder>
	</appender>

	<appender name="FILE_STDOUT" class="ch.qos.logback.core.FileAppender">
		<file>log/stdout.log</file>

		<encoder>
			<pattern>\(%d{HH:mm:ss.sss}\) [%thread] %-5p %m \(%C.java:%L\) %n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>log/jclouds.log</file>

		<encoder>
			<Pattern>\(%d{HH:mm:ss.sss}\) [%thread] %-5p %m \(%C.java:%L\) %n</Pattern>
		</encoder>
	</appender>

	<logger name="kr.re.etri.fncp.vapp.openflowswitch.em">
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</logger>
	
	<root>
		<level value="DEBUG" />
	</root>

</configuration>
